<script type="text/javascript">
    window.iconSlack = "<%= image_url('icon_slack.svg') %>";
    window.pagodatower = "<%= image_url('pagoda-tower.jpg') %>";
</script>

<main id="root">Static Page</main>

