.main-div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.chat-container {
    width: 85%;
    display: flex;
    background: #fff;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: flex-end;
}

.message-list {
    margin: 0px 0px 15px 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 75%;
}

.message-li {
    display: flex;
    margin-top: 10px; 
    width: 100%;
}

.chat-author-name {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.chat-timestamp {
    margin: 0;
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
    font-size: 12px;
    line-height: 1;
    font-family: Slack-Lato,appleLogo,sans-serif;
    display: inline-block;
    margin-left: 5px;
    font-weight: 400;

}

.chat-message-body {
    margin-left: 10px;
    margin-bottom: 5px;
}

.chat-top-row {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 12px;
    overflow: visible;
}

.chat-content {
    width: 100%;
}

#create-message-div {
    height: 120px;
}

#chat-header {
    position: fixed;
    border-bottom: 1px solid gray;
    height: 7.5%;
    top: 0;
    width: 100%;
    background-color: #fff;
    opacity: 10;
    padding: 8px 8px 8px 20px;
    /* padding-left: 20px; */
    letter-spacing: 1px;
    box-sizing: border-box;

}

.message-li:hover {
    background-color: rgba(var(--sk_foreground_min_solid,248,248,248),1);
}

.edit-message-popup {
    font-size: 12px;
    visibility: hidden;
    position: relative;
    left: 80%;
    bottom: 40%;
    margin: -11px;
    width: 10%;

}

.message-li:hover .edit-message-popup {
    visibility: visible;
    justify-self: flex-end;
    font-size: 25px;
    width: 30px;
    color: lightgray;
}

.edit-message-popup {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.message-ellipses {
    display: flex;
    justify-content: center;
    width: 20px;
}

/* Edit Message CSS */

.edit-message-input {
    width: 80%;
    border-radius: 5px;
}

#message-id-button {
    visibility: hidden;
}



/* Post Message CSS */

#form-container {
    width: 100%;
    height: 100%;
  }
  .row.form-group {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .btn {
      visibility: hidden;
  }
  
  /* .change-link {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .change-link:hover {
    color: #fff;
    text-decoration: none;
  } */
  
  #editor-container {
    height: 50px;
  }
  .ql-bold:hover, .ql-italic:hover, .ql-list:hover {
      cursor: not-allowed;
  }

  .ql-bold, .ql-italic, .ql-list{
      visibility: hidden;
  }

  #channel-name-header {
      padding-left: 5px;
  }

  #channel-topic-span {
      padding-left: 5px;
  }