.main-div {
    display: flex;
    justify-content: space-between;
}

.chat-container {
    width: 76%;
    display: flex;
    background: #fff;
    box-sizing: content-box;
}

.message-list {
    margin: 15px;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.message-li {
    display: flex;
    margin-bottom: 50px; 
}

.chat-author-name {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.chat-timestamp {
    margin: 0;
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
    font-size: 12px;
    line-height: 1;
    font-family: Slack-Lato,appleLogo,sans-serif;
    display: inline-block;
    margin-left: 5px;
    font-weight: 400;

}

.chat-message-body {
    margin-top: 4px;
    margin-left: 10px;
}

.chat-top-row {
    display: inline-block;
}
