.create-channel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 16%;
    left: 34%;
    width: 40%;
    height: 60%;
    background-color: white;
    /* border: 1px solid lightgray; */
}

.create-channel-header {
    display: flex;
    flex-direction: column;
}

.create-channel h1 {
    font-size: 24px;
}

.create-channel h3 {
    color: gray;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.create-channel-header h2 {
    justify-self: flex-end;
}

.create-channel .close-button {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    cursor: pointer;
}

.create-channel label, .create-channel input {
    display: block;
    margin-left: 0;
    line-height: 26px;
}

.create-channel label {
    margin-bottom: 2px;
    font-size: 18px;
}

.create-channel input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
}

