.signInForm {
    position: absolute;
    top: 15%; /* Header Height */
    width: 45%;
    left: 27.5%;
    right: 40%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: lightcyan;    
    border-radius: 20px;
}

.signInWelcome {    
    align-self: center; 
    padding: 10, 0;
}

label {
    position: relative;
    top: -30px;
    align-self: center;
    margin: 10px;
    font-size: 20px;
    display: flex;
}

input {
    font-size: 20px;
    margin-left: 10px;
}

.signInButton {
    background-color: green;
    border-radius: 4px;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 40%;
    align-self: center;
    text-decoration: none;

}

.signin-slack-logo-div {
    height: 116px;
    width: 30px;
}

.signin-slack-logo {
    height: 116px;
    width: 30px;
}

.signin-header {
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.errors-ul {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    list-style: none;
    font-size: 12px;
    align-self: center;
}

#demo-user-button {
    margin-top: 5px;
    margin-bottom: 40px;
}

#workspace-demo-user {
    margin-bottom: 40px;
}

.signin-input {
    width: 50%;
    align-self: center;
    position: relative;
    top: -30px;
    align-self: center;
    margin: 10px;
}