.splash-button {
    background-color: green;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position: fixed;
    justify-content: center;
}
.splash-button-link {
    background-color: purple;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    padding: 2px;
    margin-right: 20px;
}

.splash-header {
    background-color: white;
    position: absolute;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
}

.header-left {
    display: flex;
}
.splash-new-session-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 30px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    
}

.splash-nav-dropdowns {
    text-decoration: none;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    color: black;
    align-self: center;
    justify-content: flex-start;
    cursor: pointer;
}

.slack-logo {
    height: 30%;
    width: 80%;
    
}

.slack-logo-div {
    background-color: white;
    display: flex;
    width: 20%;
    height: 100%
}


body {
    height: 100%;
    width: 100%;
    background-size: 100%, 100%;
    background-color: pink;
    margin: 0;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* background-image: url('pagoda-tower.jpg'); */
.slack-logo-div-signin {
    height: 100%;
    width: 60%;
    display: flex;
    
}

.signout-button {
    background-color: purple;
    border-radius: 15px;
    height: 100%;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* padding: 6px; */
    margin-right: 20px;
    cursor: pointer;
}

.splash-main {
    display: flex;
    flex-direction: column;
    height: 3000px;
}

.splash-first {
    height: 40px;
    background-color: lightgray;
    border-radius: 40px;
    align-self: center;
    visibility: hidden;
}
/* background-color: lightgray; */

.splash-item {
    border-radius: 40px;
    align-self: center;
    margin: 100px;
    height: 500px;
    width: 100%;
}
#splash-second {
    background-image: url('slack_marbles.jpg');
    background-size: contain;
    height: 500px;
    align-self: center;
    margin: 100px;
    margin-top: 50px;
    border-radius: 0;
}
.splash-button-link {
    background-color: purple;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    padding: 2px;
    margin-right: 20px;
}

#marble-text {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -1.5px;
    max-width: 40rem;
    display: block;
    width: 50%;
    height: 350px;
    left: 5%;
    align-self: center;
    text-decoration: none;
    position: relative;
}

#marble-text h1 {
    font-size: 3.5rem;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 0;
}

.marble-button {
    text-decoration: none;
    background-color: purple;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    color: white;
}

#marble-text-secondary {
    font-weight: 400;
    line-height: 1.333;
    width: 70%; 
    letter-spacing: -.2px;
    margin-top: 0;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
    margin-bottom: 50px;
}

