.splash-button {
    background-color: green;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position: fixed;
    justify-content: center;
}
.splash-button-link {
    background-color: #611f69;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    border: 2px solid #611f69;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}


.splash-header {
    background-color: white;
    position: absolute;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    overflow: visible;
}

.header-left {
    display: flex;
}
.splash-new-session-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 30px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    
}

.splash-nav-dropdowns {
    text-decoration: none;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    color: black;
    align-self: center;
    justify-content: flex-start;
    cursor: pointer;
}

.slack-logo {
    height: 30%;
    width: 80%;
    
}

.slack-logo-div {
    background-color: white;
    display: flex;
    width: 20%;
    height: 100%
}


body {
    height: 100%;
    width: 100%;
    background-size: 100%, 100%;
    background-color: #fff;
    margin: 0;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* background-image: url('pagoda-tower.jpg'); */
.slack-logo-div-signin {
    height: 100%;
    width: 60%;
    display: flex;
    
}

.signout-dropdown-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: normal;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    list-style: none;
    border-top: 1px solid #ebeaeb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 234, 235);
    top: 70px;
    border-radius: 4px;
    padding: .5rem 1rem 1rem;
    right: 1rem;
    width: 18rem;
    right: 60px;
}

.signout-button {
    color: #454545;
    cursor: pointer;
    word-break: break-word;
    font-size: 1.125rem;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: normal;
    background-color: #fff;

}

.splash-main {
    display: flex;
    flex-direction: column;
    height: 1300px;
}

.splash-first {
    height: 40px;
    border-radius: 40px;
    align-self: center;
    visibility: hidden;
}


.splash-item {
    border-radius: 40px;
    align-self: center;
    margin: 100px;
    height: 500px;
    width: 100%;
}
#splash-second {
    background-image: url('slack_marbles.jpg');
    background-size: contain;
    height: 500px;
    align-self: center;
    margin-top: 50px;
    border-radius: 0;
    margin-bottom: 0px;
}
.splash-button-link {
    background-color: purple;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    padding: 2px;
    margin-right: 20px;
}

#marble-text {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -1.5px;
    max-width: 40rem;
    display: block;
    width: 50%;
    height: 350px;
    left: 5%;
    align-self: center;
    text-decoration: none;
    position: relative;
}

#marble-text h1 {
    font-size: 3.5rem;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 0;
}

.marble-button {
    text-decoration: none;
    background-color: #611f69;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    color: white;
}

#marble-text-secondary {
    font-weight: 400;
    line-height: 1.333;
    width: 70%; 
    letter-spacing: -.2px;
    margin-top: 0;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
    margin-bottom: 50px;
}


#splash-third-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;  
}

#splash-third {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    margin: 0;
    height: 700px;
    background-color: lightcyan;
    border-radius: 0;
}


#Break-out-inbox {
    line-height: 1.12;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: -.8px;
    font-size: 3.125rem;
}

#third-subtext {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    line-height: 1.44;
    font-weight: 400;
    font-size: 1.125rem;
}

.three-marble-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slack-marble-gif {
    margin: 5px;
}

#display-none {
    display: none
}

#display-show {
    display: flex;
}

#splash-dropdown-button {
    background-color: #611f69;
    height: 60%;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    margin-right: 100px;
    align-self: center;
    cursor: pointer;
}

#dropdown-signout-button {
    text-align: start;
    padding: .5rem;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    margin-top: 20px;
    border: 0;
}

#dropdown-signout-button:hover {
    color: #1264a3;
    /* border-color: #1264a3; */
}

#your-workspace-button {
    border: 0;
    padding: 10px;
    text-align: start;
    background: inherit;
}

#your-workspace-nav:hover {
    background: #f5f5f5;
}

#your-workspace-nav {
    display: flex;
    border-bottom: 1px solid lightgray;
}

#splash-aa-logo {
    width: 10%;
    height: 10%;
    align-self: center;
    border-radius: 4px;
    overflow-y: hidden;
}

#splash-footer {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    background-color: lightcyan;
    position: relative;
    margin-bottom: 0;
    height: 150px;
    justify-content: center;
}

#splash-github-logo {
    height: 10%;
    width: 10%;
    justify-self: center;
}

#splash-linkedin-logo {
    height: 10%;
    width: 10%;
    justify-self: center;
}

